<div class="row">
  <div class="col-md-6">
  <form method="POST">
    <input type="hidden" name="id" value="{{user._id}}">
    {{#if error}}
    <div class="alert alert-danger">
      {{error}}
    </div>
    {{/if}}
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" name="email" value="{{user.email}}">
    </div>
    <div class="form-group">
      <label for="token">Token:</label>
      <input type="text" class="form-control" name="token" value="{{user.token}}">
    </div>
    <div class="form-group">
    <label>
      <input type="checkbox" name="revoked" value="1" {{#if user.revoked}}checked{{/if}}> Revoked
    </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  </div>
</div>