<!DOCTYPE html>
<html>
  <head>
    <title>Gateway Admin - {{section}}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
	<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin">Gateway Admin</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li {{#if_eq section 'Home'}}class="active"{{/if_eq}}><a href="/admin">Home</a></li>
          <li {{#if_eq section 'Services'}}class="active"{{/if_eq}}><a href="/admin/services">Services</a></li>
          <li {{#if_eq section 'Users'}}class="active"{{/if_eq}}><a href="/admin/users">Users</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h1>{{title}}</h1>
    <div class="voffset5"></div>
    {{{body}}}
  </div>
	</body>
</html>